@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,100&display=swap');


.navbar {
  height: 100%;
  width:10%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #21303b;
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-top: 3%;
  border-radius: 4%;
  

}





.navbar a {
  text-decoration: none;
  color: white;
  padding: 8%;
  text-align: center;
  width: 100%; 
  box-sizing: border-box ;
  transition: background-color 0.3s;

  border-radius: 40px;
}

.navbar a:hover {
  background-color:#512da8 ;
}


