/* General Styles for the Feedback List */
.feedback-list {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Individual Feedback Item */
.feedback-item {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-item h3 {
  margin: 0;
  color: #333;
  font-size: 16px;
}

/* Detail and Close Buttons */
.detail-button, .close-detail-button {
  border: none;
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.detail-button:hover, .close-detail-button:hover {
  background-color: #0056b3;
}

/* Error and Loading Messages */
.error-message, p {
  text-align: center;
  color: black;
  font-size: 14px;
}



  .pagination {
    margin: 5px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
  }
  
  .pagination.active {
    background-color: #007bff;
    color: white;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


/* Responsive Adjustments */
@media (max-width: 768px) {
  .feedback-list {
    padding: 10px;
  }

  .feedback-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .detail-button, .close-detail-button {
    width: 100%;
    margin-top: 10px;
  }
}
