/* Add to your CSS file */
.dash {
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  padding: 0;
  margin: 0;

}

iframe {
  width: 88%;
  height: 100%;
  margin-left: 12%;
  border: none; /* Remove the frame border */
}
